<div class="passwordBox animated fadeInDown">
  <div class="row">

    <div class="col-md-12">
      <div class="ibox-content">

        <h2 class="font-bold"><%= t('views.confirmation_new.title_c_new')%></h2>

        <p>

          <%= t('views.confirmation_new.message_c_new')%>
        </p>


        <div class="row">

          <div class="col-lg-12">
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
                <%= devise_error_messages! %>
                <br>

                <div class="form-group">

                  <%= f.email_field :email, class: "form-control", placeholder: t('views.confirmation_new.placeh_email_c_new'), autofocus: true, required: true, autocomplete: "off" ,  id: "mail", :maxlength => '255' %>
                  <font color="#8b0000"><label id="errorMail" style="display: none;"></label></font>
                </div>
                <br/>
                <div class="actions">
                  <%= f.submit t('views.confirmation_new.resend_c_new'), class: 'btn btn-primary block full-width m-b' %>
                  <%= link_to t('all.back'), new_session_path(resource_name), :class => 'btn btn-warning block full-width m-b' %>
                </div>
            <% end %>

            <p>
              <small><center>
                <%= render "devise/shared/links" %>
              </center></small>
            </p>

            <div class="form-group" align="center">
              <%= link_to image_tag("mexico.png", border: 0, :height => 14, width: 26), locale: :es %>
              <%= link_to image_tag("eua.png", border: 0, :height => 14, width: 26), locale: :en %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="m-t" align="center">
    <small>KS Soluciones S.A. de C.V. &copy; 1998-2018</small>
  </p>
</div>


<script>
    $('#new_user').validate({
        messages: {
            "user[email]": {
                required: "<%= t('all.requi')%>",
                email: "<%= t('all.requi')%>"
            }
        }
    });

    $('#mail').change(function () {
        var em = $(this).val();
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        if (re.test(em)) {
            $("#mail").val(em);
            $("#errorMail").hide();
        } else {
            var msg = "<%= t('views.registration_new.mail_err')%>";
            document.getElementById('errorMail').innerHTML = msg;
            $("#mail").val("");
            $("#mail").focus();
            $("#errorMail").show()

        }
    });
</script>