<script>
    jQuery(function ($) {
        $("#phones").mask("(99) 9999-9999");
    });

    jQuery(function ($) {
        $("#phones").mask("(99) 9999-9999");
    });

</script>
<script>
    jQuery(function ($) {
        $("#exts").mask("9999");
    });

    jQuery(function ($) {
        $("#exts").mask("9999");
    });

</script>
<%= form_for(user) do |f| %>
    <script>
      var id = "<%= user.id %>"
    </script>
    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="col-xs-2 col-lg-2"></div>
      <div class="col-xs-6 col-lg-7">
        <div class="row">
          <div class="col-xs-6">
            <div class="field">
              <p class="text-center">
                <label><%= t('activerecord.atributes.name') %></label>
                <%= f.text_field :name, :class => 'form-control', :required => true, :maxlength => '255', autocomplete: "off" %>
              </p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="field">
              <p class="text-center">
                <label><%= t('activerecord.atributes.last_name') %></label>
                <%= f.text_field :last_name, :class => 'form-control', :required => true, :maxlength => '255', autocomplete: "off" %>
              </p>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-6">
            <div class="field">
              <div align="center" class="form-group">
                <label><%= t('activerecord.atributes.phone') %></label>
                <!--<input type="text" class="form-control" >-->
                <%= f.text_field :phone, :id => "phones", class: "form-control", :required => true, autocomplete: "off", :data_mask => "(55) 99-99-99-99" %>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="field">
              <p class="text-center">
                <label><%= t('activerecord.atributes.ext') %></label>
                <%= f.text_field :ext, :class => 'form-control', :autocomplete => "off", :data_mask => "999", :data_mask => "9999",:id => "exts" %>
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <div class="field">
              <p class="text-center">
                <label><%= t('activerecord.atributes.boss_name') %></label>
                <%= f.text_field :boss_name, :class => 'form-control', :required => true, autocomplete: "off", :maxlength => '255' %>
              </p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="field">
              <p class="text-center">
                <label><%= t('activerecord.atributes.employment') %></label>
                <%= f.text_field :employment, :class => 'form-control', :required => true, autocomplete: "off", :maxlength => '255' %>
              </p>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">

            <div>
              <p>
              <center>
                <%= f.label  t('activerecord.atributes.area'), {:id => 'labelArea'} %>
                <%#= f.collection_select :area_id, Area.order(:id), :id, :name, {:include_blank => t('views.users_change.placeh_area_u_change')}, { :id => 'areaSel', :class => 'form-control', :style => 'width: 250px;'} %>
                <select class="form-control" id="areaSel" name="user[area_id]" style="width: 250px">
                  <option value=""> <%= t('views.users_change.placeh_area_u_change') %> </option>
                  <% @areas.each do |ar| %>
                      <option value="<%= ar[:id] %>"><%= ar[:name] %></option>
                  <% end %>
                </select>
              </center>
              </p>
            </div>

            <div>
              <center>
                <%= f.label t('activerecord.atributes.profile_id'), {:style => 'display: none;', :id => 'labelProfile'} %>
                <select id="perfil" name="user[profile_id]" class="form-control" style="width: 250px; display: none;">
                  <option value=""><%= t('views.users_change.placeh_profile_u_change') %></option>
                </select>
              </center>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-3 col-lg-2 text-center">
        <ul class="nav nav-pills nav-stacked">
          <% if @crearPerfil == 8%>
              <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('views.users_show.create_profile_u_show'), new_profile_path, :class => 'btn btn-sm btn-primary dim' %>
          <% end %>

        </ul>
      </div>
      <div class="row">
        <div class="col-xs-12 hr-line-dashed"></div>
        <div class="col-xs-12">
          <div class="actions">
            <button type="submit" , class="btn btn-xs btn-primary " , value="<%= t('views.users_edit.save_u_edit') %>" , name="btnSave">
              <i class="fa fa-users"></i>  <%= t('views.users_edit.save_u_edit') %>
            </button>
            <% if @leerUser == 2 %>
                <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('views.users_edit.show_u_edit'), @user, :class => 'btn btn-xs btn-primary dim' %>
            <% end %>
            <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('all.back'), users_path, :class => 'btn btn-xs btn-primary dim' %>
          </div>
        </div>
      </div>
    </div>
<% end %>


<script>
    var flag = "<%= @current_user_flag %>"
    var area = "<%= @current_user_area %>"
    var bel = "<%= @current_user_store %>"

</script>

<script>
    $("#areaSel").click(function () {
        $("#areaSel").change(function () {
            var valor = $(this).val()

            if (valor == "") {
                $("#perfil").hide();
                $("#labelProfile").hide();
                $("#btnChange").hide()
            }
            else {
                $("#perfil option").remove();
                $("#perfil").show();
                $("#labelProfile").show();

                if(area == 1){ //Central muestro todos los perfiles disponibles en el área
                    if (valor == 1){
                        $("#perfil").append($("<option value></option>").text("<%= t('views.users_edit.placeh_profile_u_edit') %>"));
                        for (i = 0; i < gon.pflag.length; i++) {
                            if (gon.pflag[i].area_id == valor && gon.pflag[i].flag != 1) {
                                $("#perfil").append($("<option></option>")
                                    .attr("value", gon.pflag[i].id)
                                    .text(gon.pflag[i].name));
                            }
                        }
                    }else{
                        $("#perfil").append($("<option value></option>").text("<%= t('views.users_edit.placeh_profile_u_edit') %>"));
                        for (i = 0; i < gon.pflag.length; i++) {
                            if (gon.pflag[i].area_id == valor && gon.pflag[i].flag != 2) {
                                $("#perfil").append($("<option></option>")
                                    .attr("value", gon.pflag[i].id)
                                    .text(gon.pflag[i].name));
                            }
                        }
                    }

                }else { //Si no es área central sólo muestro los perfiles que tengan bandera mayor a la mía (menor rango)
                    $("#perfil").append($("<option value></option>").text("<%= t('views.users_edit.placeh_profile_u_edit') %>"));
                    for (i = 0; i < gon.pflag.length; i++) {
                        if (gon.pflag[i].area_id == valor && gon.pflag[i].flag >= flag && gon.pflag[i].flag != 2) {
                            $("#perfil").append($("<option></option>")
                                .attr("value", gon.pflag[i].id)
                                .text(gon.pflag[i].name));
                        }
                    }
                }

            }


        })
    })
</script>

<script>
    $('#edit_user_'+ id).validate({
        messages: {
            "user[name]": {
                required: "<%= t('all.requi')%>"
            },
            "user[last_name]": {
                required: "<%= t('all.requi')%>"
            },
            "user[phone]": {
                required: "<%= t('all.requi')%>"
            },
            "user[ext]": {
                required: "<%= t('all.requi')%>"
            },
            "user[boss_name]": {
                required: "<%= t('all.requi')%>"
            },
            "user[employment]": {
                required: "<%= t('all.requi')%>"
            },
            "belongs": {
                required: "<%= t('all.requi')%>"
            },
            "user[store_id]": {
                required: "<%= t('all.requi')%>"
            },
            "user[area_id]": {
                required: "<%= t('all.requi')%>"
            },
            "user[nameProfile_id]": {
                required: "<%= t('all.requi')%>"
            }
        }
    });
</script>