<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function () {
        $('table').footable({paginate: false});
    });
</script><!--
<%# @fl = current_user.profile.flag %>
<%# @ar = current_user.profile.area_id %>
<strong>BANDERA: <%#= @fl = current_user.profile.flag %></strong><br>
<strong>AREA: <%#= @ar = current_user.profile.area_id %></strong><br>
Bandera Actual: <%#= @fl %><br>
Current User Name Profile Id: <%#= current_user.profile_id %><br>
Current user Area : <strong><%#= current_user.area.name %></strong><br>
Current User Id Area: <%#= current_user.profile.area_id %>-->
<div class="row">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.users') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">

        <% if @error.present? %>
            <!--<div class="alert alert-danger alert-dismissable fade in">-->
            <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>-->
            <!--<%#= @error %>-->
            <!--</div>-->
            <script>
                swal({
                    title: "<%= t('all.no_filter')%>",
                    type: "warning"

                }); // swal
            </script>
        <% end %>
        <%= form_tag({:controller => "users", :action => "index"}, :method => "get") do %>
            <input type="hidden" value="<%= params[:locale] %>" name="locale">
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="search" autocomplete="off" placeholder="<%= t('all.placehol_search') %>">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <div class="btn-group">
                    <%#= submit_tag t('all.btn_search'), :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %>

                    <%= button_tag(type: 'submit', class: 'btn btn-w-m btn-info') do %>
                        <i class="fa fa-search"></i>
                        <%= t('all.btn_search') %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

        <% end %>

        <% if @query.present? %>

            <div class="row">
              <div class="col-lg-4">
                <h3><%= t('all.query') %>: <%= @query %></h3>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-xs-6 col-xs-4">
                    <div class="form-group">
                      <%= link_to t('all.clean'), users_path, :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <div class="row">
          <div class="col-xs-2 col-md-7"></div>
          <div class="col-xs-10 col-md-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="detall_left">
                <%= page_entries_info @users, entry_name: t('views.users') %>
              </div>
              <div class="pag_right">
                <%= paginate @users, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="table table-responsive overflow col-xs-12" tabindex="5005" style="overflow: hidden; outline: none;">
            <table class="table footable no-paging" data-filter=#filter data-page-size="10">

              <thead>
              <tr>
                <!--<th class="text-center" data-sort-ignore="true"></th>-->
                <th class="text-center" data-sort-ignore="true"><%= t('activerecord.atributes.name') %></th>
                <th class="text-center" data-sort-ignore="true"><%= t('activerecord.atributes.last_name') %></th>
                <th class="text-center" data-sort-ignore="true" data-hide="phone"><%= t('activerecord.atributes.username') %></th>
                <th class="text-center" data-sort-ignore="true" data-hide="phone, tablet"><%= t('activerecord.atributes.email') %></th>
                <th class="text-center" data-sort-ignore="true" data-hide="phone, tablet"><%= t('activerecord.atributes.name_profile_id') %></th>
                <th class="text-center" data-sort-ignore="true" data-hide="phone, tablet"><%= t('activerecord.atributes.area_id') %></th>
                <!--<#% if @editarUser == 4 %>-->
                <!--<th class="text-center" data-sort-ignore="true" colspan="2"> <#%= t('views.users_index.change_profile') %></th>-->
                <!--<#% end %>-->
                <th class="text-center" data-sort-ignore="true" data-hide="phone"><%= t('all.show') %></th>
                <th class="text-center" data-sort-ignore="true" data-hide="phone"><%= t('all.edit') %></th>
                <th class="text-center" data-sort-ignore="true" data-hide="phone"><%= t('all.delete') %></th>

              </tr>
              </thead>

              <tbody>
              <% @users.each do |user| %>
                  <% @us = User.find(user[:id]) %>
                  <% if user[:profile_id].present? %>
                      <% @perfil = Profile.find(user[:profile_id]) %>
                  <% end %>
                  <tr>
                    <td class="text-center"><%= user[:name] %></td>
                    <td class="text-center"><%= user[:last_name] %></td>
                    <td class="text-center"><%= user[:user_name] %></td>
                    <td class="text-center"><%= user[:email] %></td>
                    <td class="text-center">
                      <% if @perfil.present? %>
                          <%= @perfil.name %>
                      <% else %>
                          N/A
                      <% end %>
                    </td>
                    <td class="text-center">
                      <% if user[:area_id].present? %>
                          <% @area = Area.find(user[:area_id]) %>
                          <% if @area.present? %>
                              <%= @area.name %>
                          <% end %>
                      <% else %>
                          N/A
                      <% end %>
                    </td>
                    <% if @leerUser == 2 %>
                        <td class="text-center">&nbsp; &nbsp; <%= link_to '<button class="btn btn-primary btn-xs" type="button"><i class="fa fa-file-text "></i></button>'.html_safe, @us %> &nbsp; &nbsp;</td>
                    <% end %>

                    <td class="text-center">&nbsp;
                      <% if @editarUser == 4 && (user[:id] != current_user.id.to_i) %>
                          <% if current_user.area_id == "1" #Es un usuario de CENTRAL       %>
                              <% if (@perfil.flag > current_user.profile.flag.to_i) %>
                                  &nbsp; <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil "></i></button>'.html_safe, edit_user_path(@us) %>
                              <% end %>
                          <% else #Es un usuario de OTRA AREA   %>
                              <% if @perfil.flag > current_user.profile.flag.to_i && user[:area_id] == current_user.area_id %>
                                  &nbsp; <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil "></i></button>'.html_safe, edit_user_path(@us) %>
                              <% end %>
                              <% if @perfil.flag >= current_user.profile.flag.to_i && user[:area_id].to_i > current_user.area_id.to_i %>
                                  &nbsp; <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil "></i></button>'.html_safe, edit_user_path(@us) %>
                              <% end %>
                          <% end %>
                      <% end %>
                    </td>

                    <td class="text-center">&nbsp;
                      <% if @eliminarUser == 1 && (user[:id] != current_user.id.to_i) %>
                          <input type="hidden" value="<%= user[:name] %> <%= user[:last_name] %>" id="user<%= user[:id] %>">
                          <% if current_user.area_id == "1" #Es un usuario de CENTRAL       %>
                              <% if (@perfil.flag > current_user.profile.flag.to_i) %>
                                  <%#= link_to '<button class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash-o "></i></button>'.html_safe, user, method: :delete, data: {confirm: t('views.users_index.confirm')} %> &nbsp;
                                  <button class="btn btn-danger btn-xs  users" type="button" id="<%= user[:id] %>">
                                    <i class="fa fa-trash-o"></i>
                                  </button>
                              <% end %>
                          <% else #Es un usuario de OTRA AREA   %>
                              <% if @perfil.flag > current_user.profile.flag && user[:area_id].to_i == current_user.area_id.to_i %>
                                  <%#= link_to '<button class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash-o "></i></button>'.html_safe, user, method: :delete, data: {confirm: t('views.users_index.confirm')} %> &nbsp;
                                  <button class="btn btn-danger btn-xs  users" type="button" id="<%= user[:id] %>">
                                    <i class="fa fa-trash-o"></i>
                                  </button>
                              <% end %>
                              <% if @perfil.flag >= current_user.profile.flag && user[:area_id].to_i > current_user.area_id.to_i%>
                                  <%#= link_to '<button class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash-o "></i></button>'.html_safe, user, method: :delete, data: {confirm: t('views.users_index.confirm')} %> &nbsp;
                                  <button class="btn btn-danger btn-xs  users" type="button" id="<%= user[:id] %>">
                                    <i class="fa fa-trash-o"></i>
                                  </button>
                              <% end %>
                          <% end %>
                      <% end %>
                    </td>
                    <!-- <td class="text-center">
                          <strong><%#= user.profile.flag %></strong>
                        </td>
                        <td class="text-center">
                          <strong><%#= user.area_id %></strong>
                        </td>-->

                  </tr>
                  <%# else %>
                  <!--N/A-->
              <% end %>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="11">
                  <ul class="pagination pull-right"></ul>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 col-md-7"></div>
          <div class="col-xs-10 col-md-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="pag_right">
                <%= paginate @users, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
              <div class="detall_right">
                <%= page_entries_info @users, entry_name: t('views.users') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    //    $(document).ready(function () {
    //        $("select").click(function () {
    //            var ide = $(this).attr("id")
    //            console.log(ide)
    //
    //            $("#belongs" + ide).click(function () {
    //                $("#belongs" + ide).change(function () {
    //                    var valorbelongs = $(this).val();
    //
    //                    if (valorbelongs == "") {
    //                        $("#labelArea" + ide).hide()
    //                        $("#labelProfile" + ide).hide()
    //                        $("#labelStore" + ide).hide()
    //                        $("#areaSel" + ide).hide()
    //                        $("#perfil" + ide).hide()
    //                        $("#areaSel" + ide).attr("disabled", true)
    //                        $("#store" + ide).hide()
    //                        $("#store" + ide).attr("disabled", true)
    //                    }
    //
    //                    if (valorbelongs == 1) {
    //                        $("#areaSel" + ide + " option").remove();
    //
    //                        $("#labelStore" + ide).hide()
    //                        $("#store" + ide).hide()
    //                        $("#store" + ide).val(null);
    //
    //                        $("#labelArea" + ide).show()
    //                        $("#labelProfile" + ide).show()
    //
    //                        $("#areaSel" + ide).show()
    //                        $("#perfil" + ide).show()
    //                        $("#areaSel" + ide).attr("disabled", false)
    //
    //                        $("#areaSel" + ide).append($("<option value></option>").text("<%#= t('views.registration_new.placeh_area')%>"));
    //                        for (i = 0; i < gon.area.length; i++) {
    //                            if (gon.area[i].store_id == null) {
    //                                $("#areaSel" + ide).append($("<option></option>")
    //                                    .attr("value", gon.area[i].id)
    //                                    .text(gon.area[i].name));
    //                            }
    //                        }
    //
    //                    }
    //
    //                    if (valorbelongs == 2) {
    //
    //                        $("#labelArea" + ide).hide()
    //                        $("#labelProfile" + ide).hide()
    //                        $("#areaSel" + ide).hide()
    //                        $("#perfil" + ide).hide()
    //                        $("#areaSel" + ide).attr("disabled", true)
    //
    //                        $("#labelStore" + ide).show()
    //
    //                        $("#store" + ide).show()
    //                        $("#store" + ide).attr("disabled", false)
    //
    //                        $("#store").click(function () {
    //
    //                            $("#store" + ide).change(function () {
    //                                var valor = $(this).val();
    //                                $("#areaSel" + ide + " option").remove();
    //                                if (valor == "") {
    //                                    $("#areaSel" + ide).hide()
    //                                    $("#labelArea" + ide).hide()
    //                                    $("#labelProfile" + ide).hide()
    //                                    $("#perfil" + ide).hide()
    //                                    $("#areaSel" + ide).attr("disabled", true)
    //                                }
    //                                else {
    //                                    $("#labelArea" + ide).show()
    //                                    $("#labelProfile" + ide).show()
    //
    //                                    $("#areaSel" + ide).show()
    //                                    $("#perfil" + ide).show()
    //                                    $("#areaSel" + ide).attr("disabled", false)
    //                                }
    //
    //                                $("#areaSel" + ide).append($("<option value></option>").text("<%#= t('views.registration_new.placeh_area')%>"));
    //                                for (i = 0; i < gon.area.length; i++) {
    //                                    if (gon.area[i].store_id == valor) {
    //                                        $("#areaSel" + ide).append($("<option></option>")
    //                                            .attr("value", gon.area[i].id)
    //                                            .text(gon.area[i].name));
    //                                    }
    //                                }
    //                            })
    //
    //
    //                        })
    //
    //                    }
    //                })
    //
    //            });
    //            $("#areaSel" + ide).click(function () {
    //                $("#areaSel" + ide).change(function () {
    //                    var valor = $(this).val()
    //
    //
    //                    if (valor == "") {
    //                        $("#perfil" + ide).hide()
    //                        $("#perfil" + ide).attr("disabled", true)
    //                    }
    //                    else {
    //                        $("#perfil" + ide + " option").remove()
    //                        $("#perfil" + ide).show()
    //                        $("#perfil" + ide).attr("disabled", false)
    //
    //                        $("#perfil" + ide).append($("<option value></option>").text("<%#= t('views.users_index.placeh_profile') %>"));
    //                        for (i = 0; i < gon.pflag.length; i++) {
    //                            if (gon.pflag[i].area_id == valor) {
    //                                $("#perfil" + ide).append($("<option></option>")
    //                                    .attr("value", gon.pflag[i].id)
    //                                    .text(gon.pflag[i].name));
    //                            }
    //                        }
    //                    }
    //
    //
    //                })
    //            });
    //        });
    //    });
</script>

<script type="text/javascript">

    function recargar() {
        window.location.reload(true);
    }

    $(document).on("click", ".users", function () {
        var id = this.id;
        var user = $("#user" + id).val();
        swal({
                title: '<%= t('views.mess_us_title')%>  ' + '<%= t('views.user')%>  ' + user + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.mess_us_swall_confirm')%> ",
                cancelButtonText: "<%= t('views.mess_us_swall_cancel')%>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    swal({
                            title: '<%= t('views.mess_us_title2_u')%>',
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "<%= t('views.mess_us_swall_confirm')%> ",
                            cancelButtonText: "<%= t('views.mess_us_swall_cancel')%>",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: "POST",
                                    beforeSend: function (xhr) {
                                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                    },
                                    url: "/users/" + id,
                                    data: {"_method": "delete"},
                                })
                                //swal("<%= t('views.mess_us_swall')%>");
                                swal(
                                    {
                                        title: '<%= t('views.mess_us_swall')%>',
                                        type: "success",
                                        confirmButtonText: "OK",
                                    }, function (isConfirm) {
                                        if (isConfirm) {
                                            recargar();
                                        }
                                    })
                            } else {
                                swal("<%= t('views.mess_us_swall_cancel_1')%>");
                            }
                        })
                } else {
                    swal("<%= t('views.mess_us_swall_cancel_1')%>");
                }
            });
    })


</script>