<div class="row">
  <input type="hidden" value="1" name="area1"/>
  <div class="col-md-8">
    <canvas id="lineChart" height="114"></canvas>
  </div>
  <div class="col-md-4">
    <ul class="stat-list m-t-lg">
      <li>
        <h2 class="no-margins">$2,346</h2>
        <small><%= t('home.message_amount')%> </small>
        <div class="progress progress-mini">
          <div class="progress-bar" style="width: 48%;"></div>
        </div>
      </li>
      <li>
        <h2 class="no-margins ">$4,422</h2>
        <small><%= t('home.message_a')%></small>
        <div class="progress progress-mini">
          <div class="progress-bar" style="width: 60%;"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
