<% if current_user.nameProfile_id == 2 %>
    <div class="row" id="Panel">
      <div class="col-md-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">

            <div class="block-area" id="tableBordered">
              <div>
              </div>
              <% if @loyalty_client.present? %>
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <h1>Loyalty Client</h1>
                    </div>
                    <div class="ibox-content">
                        <% @loyalty_client.each do |loyaltyClient| %>
                            <table class="table footable table-striped table-bordered table-hover">
                              <thead>
                              <tr>
                                <th class="text-center">Last name</th>
                                <th class="text-center">Name</th>
                                <th class="text-center" data-hide="phone">Login</th>
                                <th class="text-center" data-hide="phone">Email</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td class="text-center"><%= loyaltyClient.last_name %></td>
                                <td class="text-center"><%= loyaltyClient.name %></td>
                                <td class="text-center"><%= loyaltyClient.login %></td>
                                <td class="text-center"><%= loyaltyClient.email %></td>
                              </tr>
                              </tbody>
                            </table>
                        <% end %>
                    </div>
                  </div>
              <% end %>

              <% if @loyalty_cards.present? %>

                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <h1>Loyalty Cards</h1>
                    </div>
                    <div class="ibox-content">
                      <% @loyalty_cards.each do |card| %>
                          <table class="table footable table-striped table-bordered table-hover" data-filter=#filter>
                            <thead>
                            <tr>
                              <th class="text-center">Customer Name</th>
                              <th class="text-center" data-hide="phone">Account</th>
                              <th class="text-center" data-hide="phone">Credit</th>
                              <th class="text-center" data-hide="tablet, phone">Actual Balance</th>
                              <th class="text-center" data-hide="tablet, phone">Floor Limit</th>
                              <th data-hide="phone" class="text-center">Points</th>
                            </tr>
                            </thead>
                            <tbody>
                            <td class="text-center">
                              <% if card.loyaltyClient.present? %>
                                  <% if card.loyaltyClient.name.present? %>
                                      <%= card.loyaltyClient.name %>
                                  <% end %>
                              <% else %>N/A
                              <% end %>

                            </td>
                            <td class="text-center"> <%= card.number_card %></td>
                                <td class="text-center">$<%= number_with_delimiter(number_with_precision (card.initial_balance.to_f)/100, precision: 2) %></td>
                            <td class="text-center">$<%= number_with_delimiter(number_with_precision (card.actual_balance.to_f)/100, precision: 2) %></td>
                            <td class="text-center">$<%= number_with_delimiter(number_with_precision (card.floor_limit.to_f)/100, precision: 2) %></td>
                            <td class="text-center"> <%= card.points %></td>

                            </tbody>
                          </table>
                      <% end %>
                    </div>
                  </div>
              <% end %>

              <% if @loyalty_ptlfs.present? %>

                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <h1>Loyalty Transaction Details</h1>
                    </div>
                    <div class="ibox-content">
                      <% @loyalty_ptlfs.each do |ptlf| %>
                          <table class="table footable table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                              <th class="text-center">Name</th>
                              <th class="text-center" data-hide="phone">Amount</th>
                              <th class="text-center" data-hide="phone">Amount2</th>
                              <th class="text-center" data-hide="phone">Approval</th>
                              <th class="text-center" data-hide="phone">Response code</th>
                              <th class="text-center" data-hide="phone, tablet">Affiliation</th>
                              <th class="text-center" data-hide="phone, tablet">Address</th>
                              <th class="text-center" data-hide="phone, tablet">Deferral</th>
                              <th class="text-center" data-hide="phone, tablet">Partial</th>
                              <th class="text-center" data-hide="phone">Plan</th>
                              <th class="text-center" data-hide="phone">Devolution</th>
                              <th class="text-center" data-hide="phone">Returned balance</th>
                              <th class="text-center" data-hide="phone">Promotion</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <!--<td><%#= ptlf.id %></td>-->
                              <td class="text-center"><%= ptlf.name %></td>
                              <td class="text-center">$<%= ptlf.amount %></td>
                              <td class="text-center">$<%= ptlf.amount2 %></td>
                              <td class="text-center"><%= ptlf.approval %></td>
                              <td class="text-center"><%= ptlf.response_code %></td>
                              <td class="text-center"><%= ptlf.affiliation.name %></td>
                              <td class="text-center"><%= ptlf.address %></td>
                              <td class="text-center"><%= ptlf.deferral %></td>
                              <td class="text-center"><%= ptlf.partial %></td>
                              <td class="text-center"><%= ptlf.plan_id %></td>
                              <td class="text-center"><% if ptlf.devolution == true %>True
                                <% else %>False
                                <% end %>
                              </td>
                              <td class="text-center"><% if ptlf.returned_balance == true %>True
                                <% else %>False
                                <% end %>
                              </td>
                              <td class="text-center"><%= ptlf.loyaltyPromotion.name %></td>
                            </tr>
                            </tbody>
                          </table>
                      <% end %>
                    </div>
                  </div>
              <% end %>

              <% if @loyalty_promotion.present? %>
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <h1>Promotions</h1>
                    </div>
                    <div class="ibox-content">
                      <% @loyalty_promotion.each do |promotion| %>
                          <table class="table footable table-striped table-bordered table-hover table-responsive">
                            <thead>
                            <tr>
                              <th class="text-center">Name</th>
                              <th class="text-center">Bin</th>
                              <th class="text-center" data-hide="phone">Transaction Type</th>
                              <th class="text-center" data-hide="phone">Percent</th>
                              <th class="text-center" data-hide="phone">Amount base</th>
                              <th class="text-center" data-hide="phone">Amount desc</th>
                              <th class="text-center" data-hide="phone, tablet">Start at</th>
                              <th class="text-center" data-hide="phone, tablet">End at</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td class="text-center"><%= promotion.name %></td>
                              <td class="text-center"><%= promotion.bin.name %></td>
                              <td class="text-center"><%= promotion.transacctionType.name %></td>
                              <td class="text-center"><%= promotion.percent %>%</td>
                              <td class="text-center">$<%= promotion.amount_base.to_f %></td>
                              <td class="text-center">$<%= promotion.amount_desc.to_f %></td>
                              <td class="text-center"><%= promotion.start_at %></td>
                              <td class="text-center"><%= promotion.end_at %></td>
                              <% if @editar == 4 %>
                                  <td class="text-center"><%= link_to '<button class="btn btn-warning btn-sm      " type="button"><i class="fa fa-pencil"></i></button>'.html_safe, edit_loyalty_promotion_path(@loyalty_promotion), :data => {:no_turbolink => true} %></td>
                              <% end %>
                            </tr>
                            </tbody>
                          </table>
                      <% end %>
                    </div>
                  </div>
              <% end %>

            </div>
          </div>
        </div>
        <!--<div class="ibox-footer">-->
        <!--<p id="notice"><h1><%#= notice %></h1></p>-->
        <!--</div>-->
      </div>
    </div>

<% elsif current_user.nameProfile_id != 2 && current_user.nameProfile_id != 0 %>

    <div class="row  border-bottom white-bg dashboard-header">
      <div class="col-sm-3">
        <h2>Welcome <%= current_user.name %> <%= current_user.last_name %></h2>
        <small>You have 42 messages and 6 notifications.</small>
        <ul class="list-group clear-list m-t">
          <li class="list-group-item fist-item">
                <span class="pull-right">
                    09:00 pm
                </span>
            <span class="label label-success">1</span> Please contact me
          </li>
          <li class="list-group-item">
                <span class="pull-right">
                    10:16 am
                </span>
            <span class="label label-info">2</span> Sign a contract
          </li>
          <li class="list-group-item">
                <span class="pull-right">
                    08:22 pm
                </span>
            <span class="label label-primary">3</span> Open new shop
          </li>
          <li class="list-group-item">
                <span class="pull-right">
                    11:06 pm
                </span>
            <span class="label label-default">4</span> Call back to Sylvia
          </li>
          <li class="list-group-item">
                <span class="pull-right">
                    12:00 am
                </span>
            <span class="label label-primary">5</span> Write a letter to Sandra
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <div class="flot-chart dashboard-chart">
          <div class="flot-chart-content" id="flot-dashboard-chart"></div>
        </div>
        <div class="row text-left">
          <div class="col-xs-4">
            <div class=" m-l-md">
              <span class="h4 font-bold m-t block">$ 406,100</span>
              <small class="text-muted m-b block">Authorization marketing report</small>
            </div>
          </div>
          <div class="col-xs-4">
            <span class="h4 font-bold m-t block">$ 150,401</span>
            <small class="text-muted m-b block">Annual authorization revenue</small>
          </div>
          <div class="col-xs-4">
            <span class="h4 font-bold m-t block">$ 16,822</span>
            <small class="text-muted m-b block">Half-year revenue margin</small>
          </div>

        </div>
      </div>
      <div class="col-sm-3">
        <div class="statistic-box">
          <h4>
            Authorization Level
          </h4>

          <div class="row text-center">
            <div class="col-lg-6">
              <canvas id="polarChart" width="80" height="80"></canvas>
            </div>
            <div class="col-lg-6">
              <canvas id="doughnutChart" width="78" height="78"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="wrapper wrapper-content">
          <div class="row">

            <div class="col-lg-4">
              <div class="ibox float-e-margins">

                <div class="ibox-title">
                  <h5>New data for the report</h5> <span class="label label-primary">KS</span>

                  <div class="ibox-tools">
                    <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                      <li>
                        <a href="#">Config option 1</a>
                      </li>
                      <li>
                        <a href="#">Config option 2</a>
                      </li>
                    </ul>
                    <a class="close-link">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </div>

                <div class="ibox-content">
                  <div>
                    <div class="pull-right text-right">
                      <span class="bar_dashboard">5,3,9,6,5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7,3,2,1,0,9,5,6,8,3,2,1</span>
                      <br/>
                      <small class="font-bold">$ 20 054.43</small>
                    </div>
                    <h4>
                      NYS report new data!
                      <br/>
                      <small class="m-r">
                        <a href="<%#= url_for :controller => 'graphs', :action => 'flot' %>"> Check the stock
                          price! </a></small>
                    </h4>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-lg-4">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5>Incidents</h5>

                  <div class="ibox-tools">
                    <span class="label label-warning-light">10 Messages</span>
                  </div>
                </div>
                <div class="ibox-content">

                  <div>
                    <div class="feed-activity-list">

                      <div class="feed-element">
                        <a href="<%#= url_for :controller => 'appviews', :action => 'profile' %>" class="pull-left">

                          <img alt="image" class="img-circle" src="<%= image_url 'profile.jpg' %>">
                        </a>

                        <div class="media-body ">
                          <small class="pull-right">5m ago</small>
                          <strong>Monica Smith</strong> posted a new blog. <br>
                          <small class="text-muted">Today 5:60 pm - 12.06.2014</small>

                        </div>
                      </div>

                      <div class="feed-element">
                        <a href="<%#= url_for :controller => 'appviews', :action => 'profile' %>" class="pull-left">
                          <img alt="image" class="img-circle" src="assets/a2.jpg">
                        </a>

                        <div class="media-body ">
                          <small class="pull-right">2h ago</small>
                          <strong>Mark Johnson</strong> posted message on <strong>Monica Smith</strong> site. <br>
                          <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                        </div>
                      </div>
                      <div class="feed-element">
                        <a href="<%#= url_for :controller => 'appviews', :action => 'profile' %>" class="pull-left">
                          <img alt="image" class="img-circle" src="assets/a3.jpg">
                        </a>

                        <div class="media-body ">
                          <small class="pull-right">2h ago</small>
                          <strong>Janet Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
                          <small class="text-muted">2 days ago at 8:30am</small>
                        </div>
                      </div>
                      <div class="feed-element">
                        <a href="<%#= url_for :controller => 'appviews', :action => 'profile' %>" class="pull-left">
                          <img alt="image" class="img-circle" src="assets/a4.jpg">
                        </a>

                        <div class="media-body ">
                          <small class="pull-right text-navy">5h ago</small>
                          <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>.
                          <br>
                          <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                          <div class="actions">
                            <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
                          </div>
                        </div>
                      </div>
                      <div class="feed-element">
                        <a href="<%#= url_for :controller => 'appviews', :action => 'profile' %>" class="pull-left">
                          <img alt="image" class="img-circle" src="assets/a5.jpg">
                        </a>

                        <div class="media-body ">
                          <small class="pull-right">2h ago</small>
                          <strong>Kim Smith</strong> posted message on <strong>Monica Smith</strong> site. <br>
                          <small class="text-muted">Yesterday 5:20 pm - 12.06.2014</small>
                          <div class="well">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s.
                            Over the years, sometimes by accident, sometimes on purpose (injected humour and the
                            like).
                          </div>
                          <div class="pull-right">
                            <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                          </div>
                        </div>
                      </div>
                      <div class="feed-element">
                        <a href="<%#= url_for :controller => 'appviews', :action => 'profile' %>" class="pull-left">
                          <img alt="image" class="img-circle" src="assets/profile.jpg">
                        </a>

                        <div class="media-body ">
                          <small class="pull-right">23h ago</small>
                          <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                          <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                        </div>
                      </div>
                      <div class="feed-element">
                        <a href="<%#= url_for :controller => 'appviews', :action => 'profile' %>" class="pull-left">
                          <img alt="image" class="img-circle" src="assets/a7.jpg">
                        </a>

                        <div class="media-body ">
                          <small class="pull-right">46h ago</small>
                          <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                          <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                        </div>
                      </div>
                    </div>

                    <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>

                  </div>

                </div>
              </div>

            </div>
            <div class="col-lg-4">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5>Meeting</h5>

                  <div class="ibox-tools">
                    <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                      <li>
                        <a href="#">Config option 1</a>
                      </li>
                      <li>
                        <a href="#">Config option 2</a>
                      </li>
                    </ul>
                    <a class="close-link">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </div>
                <div class="ibox-content ibox-heading">
                  <h3>You have meeting today!</h3>
                  <small><i class="fa fa-map-marker"></i> Meeting is on 6:00am. Check your schedule to see detail.
                  </small>
                </div>
                <div class="ibox-content inspinia-timeline">

                  <div class="timeline-item">
                    <div class="row">
                      <div class="col-xs-3 date">
                        <i class="fa fa-briefcase"></i>
                        6:00 am
                        <br/>
                        <small class="text-navy">2 hour ago</small>
                      </div>
                      <div class="col-xs-7 content no-top-border">
                        <p class="m-b-xs"><strong>Meeting</strong></p>

                        <p>
                          Conference on the sales results for the previous year. Monica please examine sales trends in
                          marketing and products. Below please find the current status of the
                          sale.
                        </p>

                        <p>
                          <span data-diameter="40" class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,4,7,3,2,9,8,7,4,5,1,2,9,5,4,7,2,7,7,3,5,2</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="row">
                      <div class="col-xs-3 date">
                        <i class="fa fa-file-text"></i>
                        7:00 am
                        <br/>
                        <small class="text-navy">3 hour ago</small>
                      </div>
                      <div class="col-xs-7 content">
                        <p class="m-b-xs"><strong>Send documents to Mike</strong></p>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since.</p>
                      </div>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="row">
                      <div class="col-xs-3 date">
                        <i class="fa fa-coffee"></i>
                        8:00 am
                        <br/>
                      </div>
                      <div class="col-xs-7 content">
                        <p class="m-b-xs"><strong>Coffee Break</strong></p>

                        <p>
                          Go to shop and find some products.
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="row">
                      <div class="col-xs-3 date">
                        <i class="fa fa-phone"></i>
                        11:00 am
                        <br/>
                        <small class="text-navy">21 hour ago</small>
                      </div>
                      <div class="col-xs-7 content">
                        <p class="m-b-xs"><strong>Phone with Jeronimo</strong></p>

                        <p>
                          Lorem Ipsum has been the industry's standard dummy text ever since.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="row">
                      <div class="col-xs-3 date">
                        <i class="fa fa-user-md"></i>
                        09:00 pm
                        <br/>
                        <small>21 hour ago</small>
                      </div>
                      <div class="col-xs-7 content">
                        <p class="m-b-xs"><strong>Go to the doctor dr Smith</strong></p>

                        <p>
                          Find some issue and go to doctor.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="row">
                      <div class="col-xs-3 date">
                        <i class="fa fa-comments"></i>
                        12:50 pm
                        <br/>
                        <small class="text-navy">48 hour ago</small>
                      </div>
                      <div class="col-xs-7 content">
                        <p class="m-b-xs"><strong>Chat with Monica and Sandra</strong></p>

                        <p>
                          Web sites still in their infancy. Various versions have evolved over the years, sometimes by
                          accident, sometimes on purpose (injected humour and the like).
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <% content_for :javascript do %>

        <script type="text/javascript">

            $(function () {

                setTimeout(function () {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        //showMethod: 'slideDown',
                        timeOut: 4000
                    };
                    toastr.success('Admin Theme', 'Welcome to KS');

                }, 1300);

                $(".bar_dashboard").peity("bar", {
                    fill: ["#1ab394", "#d7d7d7"],
                    width: 100
                })

                $("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 90], {
                    type: 'bar',
                    barWidth: 8,
                    height: '150px',
                    barColor: '#1ab394',
                    negBarColor: '#c6c6c6'
                });

                var updatingChart = $(".updating-chart").peity("line", {
                    fill: '#1ab394',
                    stroke: '#169c81',
                    width: 64
                })

                setInterval(function () {
                    var random = Math.round(Math.random() * 10)
                    var values = updatingChart.text().split(",")
                    values.shift()
                    values.push(random)

                    updatingChart
                            .text(values.join(","))
                            .change()
                }, 1000);

                var data1 = [
                    [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 30], [11, 10], [12, 13], [13, 4], [14, 3], [15, 3], [16, 6]
                ];
                var data2 = [
                    [0, 1], [1, 0], [2, 2], [3, 0], [4, 1], [5, 3], [6, 1], [7, 5], [8, 2], [9, 3], [10, 2], [11, 1], [12, 0], [13, 2], [14, 8], [15, 0], [16, 0]
                ];
                $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                            data1, data2
                        ],
                        {
                            series: {
                                lines: {
                                    show: false,
                                    fill: true
                                },
                                splines: {
                                    show: true,
                                    tension: 0.4,
                                    lineWidth: 1,
                                    fill: 0.4
                                },
                                points: {
                                    radius: 0,
                                    show: true
                                },
                                shadowSize: 2
                            },
                            grid: {
                                hoverable: true,
                                clickable: true,
                                tickColor: "#d5d5d5",
                                borderWidth: 1,
                                color: '#d5d5d5'
                            },
                            colors: ["#1ab394", "#464f88"],
                            xaxis: {},
                            yaxis: {
                                ticks: 4
                            },
                            tooltip: false
                        }
                );

                var doughnutData = [
                    {
                        value: 300,
                        color: "#a3e1d4",
                        highlight: "#1ab394",
                        label: "App"
                    },
                    {
                        value: 50,
                        color: "#dedede",
                        highlight: "#1ab394",
                        label: "Software"
                    },
                    {
                        value: 100,
                        color: "#b5b8cf",
                        highlight: "#1ab394",
                        label: "Laptop"
                    }
                ];

                var doughnutOptions = {
                    segmentShowStroke: true,
                    segmentStrokeColor: "#fff",
                    segmentStrokeWidth: 2,
                    percentageInnerCutout: 45, // This is 0 for Pie charts
                    animationSteps: 100,
                    animationEasing: "easeOutBounce",
                    animateRotate: true,
                    animateScale: false,
                };

                var ctx = document.getElementById("doughnutChart").getContext("2d");
                var DoughnutChart = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);

                var polarData = [
                    {
                        value: 300,
                        color: "#a3e1d4",
                        highlight: "#1ab394",
                        label: "App"
                    },
                    {
                        value: 140,
                        color: "#dedede",
                        highlight: "#1ab394",
                        label: "Software"
                    },
                    {
                        value: 200,
                        color: "#b5b8cf",
                        highlight: "#1ab394",
                        label: "Laptop"
                    }
                ];

                var polarOptions = {
                    scaleShowLabelBackdrop: true,
                    scaleBackdropColor: "rgba(255,255,255,0.75)",
                    scaleBeginAtZero: true,
                    scaleBackdropPaddingY: 1,
                    scaleBackdropPaddingX: 1,
                    scaleShowLine: true,
                    segmentShowStroke: true,
                    segmentStrokeColor: "#fff",
                    segmentStrokeWidth: 2,
                    animationSteps: 100,
                    animationEasing: "easeOutBounce",
                    animateRotate: true,
                    animateScale: false,
                };
                var ctx = document.getElementById("polarChart").getContext("2d");
                var Polarchart = new Chart(ctx).PolarArea(polarData, polarOptions);

            });

        </script>

    <% end %>

    <% elsif current_user.nameProfile_id == 0 %>
    <br><br><br>
    <div class="row">
    <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h1><i class="fa fa-exclamation-circle"></i>  You need to request permission first.</h1><br>
          </div>
          <div class="ibox-content">
            <%=link_to 'Request permission', users_permissions_path, :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %>
          </div>
        </div>
    </div>
      <div class="col-md-2">
      </div>
    </div>
<% end %>
<script type="text/javascript">
    $(document).ready(function () {
        $('table').footable();
    });
</script>