<!-- <%# @fl = current_user.nameProfile.flag %>
Bandera Actual: <%#= @fl %><br>
Current User Name Profile Id: <%#= current_user.nameProfile_id %><br>
Current User Email: <%#= current_user.email %><br>
Current User Area: <%#= current_user.area.name %><br>
Current User Id Area: <%#= current_user.nameProfile.id_area %>-->
<!--
<%# @fla = User.all %>
<%# con = 0 %>
<%# fl = 0 %>
<%# @fla.each do |ban| %>
 <strong>ID: </strong><%#= ban.id %> <%#= ban.name %> <strong>Id_area <%#= con+=1 %>:</strong> <%#= ban.nameProfile_id %> <strong>Bandera<%#= fl+=1 %>: </strong> <%#= ban.nameProfile.flag %><br>
<%# end %>
<br>
<select id="select">
  <%# @fla.each do |us| %>
      <option value="<%#= us.nameProfile_id %>"><%#= us.name %> <%#= us.last_name %></option>
  <%# end %>
</select><br>
<br>
<input type="text" id="texto" hidden><br>
<script>
  $('#select').change(function (){
      $('#texto').val($(this).val());
      if($(this).val() > "1"){
          alert("Mayor a 1!! "+"VALOR: "+$(this).val())
      } else if($(this).val() == "1") {
          alert("Uno es Admin Central!!")
      }
  });
</script>
-->
<input type="hidden" value="<%= current_user.id %>" name="id_user" id="NoUsuario">
<% if ((current_user.profile.flag != 1 && current_user.area_id == 1) || (current_user.profile.flag != 2 && current_user.area_id != 1))%>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h1><%= t('views.sessions_new.welcome') %></h1>
          </div>
          <div class="ibox-content" id="responsiveTable">
            <h2> <%= t('views.sessions_new.sub_mes1') %> </h2>
            <br>
            <%= link_to t('all.logout'), destroy_user_session_path, method: :delete, class: "btn btn-danger"  %>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
<% else %>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h1><%= t('all.warning') %></h1>
          </div>
          <div class="ibox-content" id="responsiveTable">
            <h2> <%= t('all.sorry') %> </h2>
            <br>
            <%= link_to t('all.logout'), destroy_user_session_path, method: :delete, :class => 'btn btn-danger' %>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
<% end %>
